@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="ControllerIsmi" asp-action="ActionIsmi"> Deneme </a>

</div>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th> Urun Ismi </th>
        </tr>
    </thead>
    <tbody>
        <myOwn></myOwn>
    </tbody>
</table>
