
<form asp-controller="Home" asp-action="Simulation" method="post">
    <input />

    <br /> <br />

    <input />

    <br /> <br />

    <button class="btn btn-primary">
        Egitmen Ekle
    </button>

</form>
